


.encabezado {
   background-color: black (#333);
    color: white;
    border: outset;
    padding: 20px 20px 20px 20px;

   
    
    
}
nav li {
    list-style: none;
    display: inline-block;
    padding: 16px 16px 16px 16px;
   
    
}
a {
    text-decoration: none;
    color: white;
    
}

p { font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

img { width: 20%; height: auto; 
border-radius: 50%;}

footer { background-color: black (#333);}










